<header class="header">
    <nav class="navigation container">
        <div class="menu">
            <a href="/" class="link menu-item <%if (linkActive === 'index') {%>  link-active  <%}%>">Home</a>
            <a href="/" class="link">
                <img class="scaled-image scaled-image-fixed" src="/images/hotel_logo.svg" alt="Hotel logo">
            </a>
            <a href="/datatable" class="link menu-item <%if (linkActive === 'datatable') {%>  link-active  <%}%>">Datatable</a>
        </div>
    </nav>
</header>