h1 {
    color: aqua; 
}

.container {
    margin: auto;
    width: 700px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 10px;
}

.navigation {
    padding: 10px;
}

.link {
    color: #e0aacd;
    text-decoration: none;
    outline: none;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}   

.menu-item {
    text-transform: uppercase;
    padding: 20px;
}

.scaled-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
}
  
.scaled-image-fixed {
    display: block;
    width: 100px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gumbi {
    float: left;
}

.poljePretraga {
    border: rgb(190, 10, 10);
    border-width: 1px;
}