<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta name="author" content="Klara Krmpotić">
    <meta name="description" content="Search engine for database tables">
    <meta charset="UTF-12">
    <link rel="stylesheet" type="text/css" href="/public/style/index.css">
</head>
<body>

    <%- include(`partials/header`); %>

    <main>
        <h1>Datoteke</h1>
    <p>Baza podataka u <a href="/hotelihrv1.json" download>JSON</a> formatu</p>
    <br>
    <p>Baza podataka u <a href="hoteliHrv1.csv" download="hoteliHrv1.csv">CSV</a> formatu</p>
    </main>
    
</body>

</html>