<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta name="author" content="Klara Krmpotić">
    <meta name="description" content="Search engine for database tables">
    <meta charset="UTF-12">
    <link rel="stylesheet" type="text/css" href="./style/index.css">
</head>
<body>

    <%- include(`header`); %>
    
    <h1>Datoteke</h1>
    <p>Baza podataka u <a href="hotelihrv1.json" download="hoteliHrv1.json">JSON</a> formatu</p>
    <br>
    <p>Baza podataka u <a href="hoteliHrv1.csv" download="hoteliHrv1.csv">CSV</a> formatu</p>
    
    <br>
</body>

</html>